[submodule "themes/hugo-arcana"]
	path = themes/hugo-arcana
	url = https://github.com/half-duplex/hugo-arcana
[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose/
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
	branch = stable
