[submodule "themes/hugo-arcana"]
	path = themes/hugo-arcana
	url = https://github.com/half-duplex/hugo-arcana
[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose/
[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra.git
