[submodule "themes/hugo-arcana"]
	path = themes/hugo-arcana
	url = https://github.com/half-duplex/hugo-arcana
[submodule "themes/hugo-geekblog"]
	path = themes/hugo-geekblog
	url = https://github.com/thegeeklab/hugo-geekblog.git
