<!-- layouts/partials/custom-head.html -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [
                ["$", "$"],
                ["\\(", "\\)"],
            ],
            displayMath: [
                ["$$", "$$"],
                ["\\[", "\\]"],
            ],
            processEscapes: true,
        },
    };
</script>

<style>
    .MathJax {
        font-weight: 100 !important; /* Lighter font weight */
        color: #474747 !important;
        /* Lighter color (adjust to match your text) */
    }

    .mjx-math {
        font-weight: 100 !important;
        color: #474747 !important;
    }

    .mjx-char {
        font-weight: 100 !important;
        color: #474747 !important;
    }
</style>
