.right {
    float: right;
    max-width: 25%;
    margin-left: 5%;
}

.left {
    float: left;
    max-width: 25%;
    margin-right: 5%;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 90%;
}

.mb-1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
